<project>
  <files
    default_encoding="UTF-8"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="node_modules"
        excluded="true">
        <dir
          name="@babel">
          <dir
            name="code-frame">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="compat-data"/>
          <dir
            name="core">
            <dir
              name="lib">
              <dir
                name="config">
                <dir
                  name="files"/>
                <dir
                  name="helpers"/>
                <dir
                  name="validation"/>
              </dir>
              <dir
                name="errors"/>
              <dir
                name="gensync-utils"/>
              <dir
                name="parser">
                <dir
                  name="util"/>
              </dir>
              <dir
                name="tools"/>
              <dir
                name="transformation">
                <dir
                  name="file"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="vendor"/>
            </dir>
            <dir
              name="src">
              <dir
                name="config">
                <dir
                  name="files"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="generator">
            <dir
              name="lib">
              <dir
                name="generators"/>
              <dir
                name="node"/>
            </dir>
          </dir>
          <dir
            name="helper-compilation-targets">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="helper-module-imports">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="helper-module-transforms">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="helper-string-parser">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="helper-validator-identifier">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="helper-validator-option">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="helpers">
            <dir
              name="lib">
              <dir
                name="helpers"/>
            </dir>
          </dir>
          <dir
            name="parser">
            <dir
              name="bin"/>
            <dir
              name="lib"/>
            <dir
              name="typings"/>
          </dir>
          <dir
            name="template">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="traverse">
            <dir
              name="lib">
              <dir
                name="path">
                <dir
                  name="inference"/>
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="scope">
                <dir
                  name="lib"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="types">
            <dir
              name="lib">
              <dir
                name="asserts">
                <dir
                  name="generated"/>
              </dir>
              <dir
                name="ast-types">
                <dir
                  name="generated"/>
              </dir>
              <dir
                name="builders">
                <dir
                  name="flow"/>
                <dir
                  name="generated"/>
                <dir
                  name="react"/>
                <dir
                  name="typescript"/>
              </dir>
              <dir
                name="clone"/>
              <dir
                name="comments"/>
              <dir
                name="constants">
                <dir
                  name="generated"/>
              </dir>
              <dir
                name="converters"/>
              <dir
                name="definitions"/>
              <dir
                name="modifications">
                <dir
                  name="flow"/>
                <dir
                  name="typescript"/>
              </dir>
              <dir
                name="retrievers"/>
              <dir
                name="traverse"/>
              <dir
                name="utils">
                <dir
                  name="react"/>
              </dir>
              <dir
                name="validators">
                <dir
                  name="generated"/>
                <dir
                  name="react"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="@eslint">
          <dir
            name="config-array">
            <dir
              name="dist">
              <dir
                name="cjs">
                <dir
                  name="std__path"/>
              </dir>
              <dir
                name="esm">
                <dir
                  name="std__path"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="config-helpers">
            <dir
              name="dist">
              <dir
                name="cjs"/>
              <dir
                name="esm"/>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="dist">
              <dir
                name="cjs"/>
              <dir
                name="esm"/>
            </dir>
          </dir>
          <dir
            name="eslintrc">
            <dir
              name="conf"/>
            <dir
              name="dist"/>
            <dir
              name="lib">
              <dir
                name="config-array"/>
              <dir
                name="shared"/>
              <dir
                name="types"/>
            </dir>
            <dir
              name="node_modules">
              <dir
                name="globals"/>
            </dir>
          </dir>
          <dir
            name="js">
            <dir
              name="src">
              <dir
                name="configs"/>
            </dir>
            <dir
              name="types"/>
          </dir>
          <dir
            name="object-schema">
            <dir
              name="dist">
              <dir
                name="cjs"/>
              <dir
                name="esm"/>
            </dir>
          </dir>
          <dir
            name="plugin-kit">
            <dir
              name="dist">
              <dir
                name="cjs"/>
              <dir
                name="esm"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="@eslint-community">
          <dir
            name="eslint-utils">
            <dir
              name="node_modules">
              <dir
                name="eslint-visitor-keys">
                <dir
                  name="dist"/>
                <dir
                  name="lib"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="regexpp"/>
        </dir>
        <dir
          name="@humanfs">
          <dir
            name="core">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="node">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
        </dir>
        <dir
          name="@humanwhocodes">
          <dir
            name="module-importer">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="retry">
            <dir
              name="dist"/>
          </dir>
        </dir>
        <dir
          name="@jridgewell">
          <dir
            name="gen-mapping">
            <dir
              name="dist">
              <dir
                name="types"/>
            </dir>
            <dir
              name="src"/>
            <dir
              name="types"/>
          </dir>
          <dir
            name="remapping">
            <dir
              name="dist"/>
            <dir
              name="src"/>
            <dir
              name="types"/>
          </dir>
          <dir
            name="resolve-uri">
            <dir
              name="dist">
              <dir
                name="types"/>
            </dir>
          </dir>
          <dir
            name="sourcemap-codec">
            <dir
              name="dist"/>
            <dir
              name="src"/>
            <dir
              name="types"/>
          </dir>
          <dir
            name="trace-mapping">
            <dir
              name="dist"/>
            <dir
              name="src"/>
            <dir
              name="types"/>
          </dir>
        </dir>
        <dir
          name="@oxc-project">
          <dir
            name="runtime">
            <dir
              name="src">
              <dir
                name="helpers">
                <dir
                  name="esm"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="types"/>
        </dir>
        <dir
          name="@rolldown">
          <dir
            name="pluginutils">
            <dir
              name="dist">
              <dir
                name="filter"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="@types">
          <dir
            name="estree"/>
          <dir
            name="json-schema"/>
          <dir
            name="react">
            <dir
              name="ts5.0"/>
          </dir>
          <dir
            name="react-dom">
            <dir
              name="test-utils"/>
          </dir>
        </dir>
        <dir
          name="@vitejs">
          <dir
            name="plugin-react">
            <dir
              name="dist"/>
            <dir
              name="types"/>
          </dir>
        </dir>
        <dir
          name="acorn">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="acorn-jsx"/>
        <dir
          name="ajv">
          <dir
            name="dist"/>
          <dir
            name="lib">
            <dir
              name="compile"/>
            <dir
              name="dotjs"/>
          </dir>
          <dir
            name="scripts"/>
        </dir>
        <dir
          name="ansi-styles"/>
        <dir
          name="argparse">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="asynckit">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="axios">
          <dir
            name="dist">
            <dir
              name="browser"/>
            <dir
              name="esm"/>
            <dir
              name="node"/>
          </dir>
          <dir
            name="lib">
            <dir
              name="adapters"/>
            <dir
              name="cancel"/>
            <dir
              name="core"/>
            <dir
              name="defaults"/>
            <dir
              name="env">
              <dir
                name="classes"/>
            </dir>
            <dir
              name="helpers"/>
            <dir
              name="platform">
              <dir
                name="browser">
                <dir
                  name="classes"/>
              </dir>
              <dir
                name="common"/>
              <dir
                name="node">
                <dir
                  name="classes"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="balanced-match"/>
        <dir
          name="baseline-browser-mapping">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="brace-expansion"/>
        <dir
          name="browserslist"/>
        <dir
          name="call-bind-apply-helpers">
          <dir
            name="test"/>
        </dir>
        <dir
          name="callsites"/>
        <dir
          name="caniuse-lite">
          <dir
            name="data">
            <dir
              name="features"/>
            <dir
              name="regions"/>
          </dir>
          <dir
            name="dist">
            <dir
              name="lib"/>
            <dir
              name="unpacker"/>
          </dir>
        </dir>
        <dir
          name="chalk">
          <dir
            name="source"/>
        </dir>
        <dir
          name="color-convert"/>
        <dir
          name="color-name"/>
        <dir
          name="combined-stream">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="concat-map">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="convert-source-map"/>
        <dir
          name="cookie">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="cross-spawn">
          <dir
            name="lib">
            <dir
              name="util"/>
          </dir>
        </dir>
        <dir
          name="csstype"/>
        <dir
          name="debug">
          <dir
            name="src"/>
        </dir>
        <dir
          name="deep-is">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="delayed-stream">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="detect-libc">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="dunder-proto">
          <dir
            name="test"/>
        </dir>
        <dir
          name="electron-to-chromium"/>
        <dir
          name="es-define-property">
          <dir
            name="test"/>
        </dir>
        <dir
          name="es-errors">
          <dir
            name="test"/>
        </dir>
        <dir
          name="es-object-atoms">
          <dir
            name="test"/>
        </dir>
        <dir
          name="es-set-tostringtag">
          <dir
            name="test"/>
        </dir>
        <dir
          name="escalade">
          <dir
            name="dist"/>
          <dir
            name="sync"/>
        </dir>
        <dir
          name="escape-string-regexp"/>
        <dir
          name="eslint">
          <dir
            name="bin"/>
          <dir
            name="conf"/>
          <dir
            name="lib">
            <dir
              name="cli-engine">
              <dir
                name="formatters"/>
            </dir>
            <dir
              name="config"/>
            <dir
              name="eslint"/>
            <dir
              name="languages">
              <dir
                name="js">
                <dir
                  name="source-code">
                  <dir
                    name="token-store"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="linter">
              <dir
                name="code-path-analysis"/>
            </dir>
            <dir
              name="rule-tester"/>
            <dir
              name="rules">
              <dir
                name="utils">
                <dir
                  name="unicode"/>
              </dir>
            </dir>
            <dir
              name="services"/>
            <dir
              name="shared"/>
            <dir
              name="types"/>
          </dir>
          <dir
            name="messages"/>
        </dir>
        <dir
          name="eslint-plugin-react-hooks">
          <dir
            name="cjs"/>
        </dir>
        <dir
          name="eslint-plugin-react-refresh"/>
        <dir
          name="eslint-scope">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="eslint-visitor-keys">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="espree">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="esquery">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="esrecurse"/>
        <dir
          name="estraverse"/>
        <dir
          name="esutils">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="fast-deep-equal">
          <dir
            name="es6"/>
        </dir>
        <dir
          name="fast-json-stable-stringify">
          <dir
            name="benchmark"/>
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="fast-levenshtein"/>
        <dir
          name="fdir">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="file-entry-cache"/>
        <dir
          name="find-up"/>
        <dir
          name="flat-cache">
          <dir
            name="src"/>
        </dir>
        <dir
          name="flatted">
          <dir
            name="cjs"/>
          <dir
            name="esm"/>
          <dir
            name="php"/>
          <dir
            name="python"/>
          <dir
            name="types"/>
        </dir>
        <dir
          name="follow-redirects"/>
        <dir
          name="form-data">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="function-bind">
          <dir
            name="test"/>
        </dir>
        <dir
          name="gensync">
          <dir
            name="test"/>
        </dir>
        <dir
          name="get-intrinsic">
          <dir
            name="test"/>
        </dir>
        <dir
          name="get-proto">
          <dir
            name="test"/>
        </dir>
        <dir
          name="glob-parent"/>
        <dir
          name="globals"/>
        <dir
          name="gopd">
          <dir
            name="test"/>
        </dir>
        <dir
          name="has-flag"/>
        <dir
          name="has-symbols">
          <dir
            name="test">
            <dir
              name="shams"/>
          </dir>
        </dir>
        <dir
          name="has-tostringtag">
          <dir
            name="test">
            <dir
              name="shams"/>
          </dir>
        </dir>
        <dir
          name="hasown"/>
        <dir
          name="hermes-estree">
          <dir
            name="dist">
            <dir
              name="generated"/>
          </dir>
        </dir>
        <dir
          name="hermes-parser">
          <dir
            name="dist">
            <dir
              name="babel"/>
            <dir
              name="estree"/>
            <dir
              name="generated"/>
            <dir
              name="transform"/>
            <dir
              name="traverse"/>
            <dir
              name="utils"/>
          </dir>
        </dir>
        <dir
          name="ignore"/>
        <dir
          name="import-fresh"/>
        <dir
          name="imurmurhash"/>
        <dir
          name="is-extglob"/>
        <dir
          name="is-glob"/>
        <dir
          name="isexe">
          <dir
            name="test"/>
        </dir>
        <dir
          name="js-tokens"/>
        <dir
          name="js-yaml">
          <dir
            name="bin"/>
          <dir
            name="dist"/>
          <dir
            name="lib">
            <dir
              name="schema"/>
            <dir
              name="type"/>
          </dir>
        </dir>
        <dir
          name="jsesc"/>
        <dir
          name="json-buffer">
          <dir
            name="test"/>
        </dir>
        <dir
          name="json-schema-traverse">
          <dir
            name="spec">
            <dir
              name="fixtures"/>
          </dir>
        </dir>
        <dir
          name="json-stable-stringify-without-jsonify">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="json5">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="keyv">
          <dir
            name="src"/>
        </dir>
        <dir
          name="levn">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="lightningcss">
          <dir
            name="node"/>
        </dir>
        <dir
          name="locate-path"/>
        <dir
          name="lodash.merge"/>
        <dir
          name="lru-cache"/>
        <dir
          name="math-intrinsics">
          <dir
            name="constants"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="mime-db"/>
        <dir
          name="mime-types"/>
        <dir
          name="minimatch"/>
        <dir
          name="ms"/>
        <dir
          name="nanoid">
          <dir
            name="async"/>
          <dir
            name="bin"/>
          <dir
            name="non-secure"/>
          <dir
            name="url-alphabet"/>
        </dir>
        <dir
          name="natural-compare"/>
        <dir
          name="optionator">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="p-limit"/>
        <dir
          name="p-locate"/>
        <dir
          name="parent-module"/>
        <dir
          name="path-exists"/>
        <dir
          name="path-key"/>
        <dir
          name="picocolors"/>
        <dir
          name="picomatch">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="postcss">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="prelude-ls">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="proxy-from-env"/>
        <dir
          name="punycode"/>
        <dir
          name="react">
          <dir
            name="cjs"/>
        </dir>
        <dir
          name="react-dom">
          <dir
            name="cjs"/>
        </dir>
        <dir
          name="react-router">
          <dir
            name="dist">
            <dir
              name="development">
              <dir
                name="lib">
                <dir
                  name="types"/>
              </dir>
            </dir>
            <dir
              name="production">
              <dir
                name="lib">
                <dir
                  name="types"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="react-router-dom">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="resolve-from"/>
        <dir
          name="rolldown">
          <dir
            name="bin"/>
          <dir
            name="dist">
            <dir
              name="shared"/>
          </dir>
          <dir
            name="node_modules">
            <dir
              name="@rolldown">
              <dir
                name="pluginutils">
                <dir
                  name="dist">
                  <dir
                    name="filter"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="scheduler">
          <dir
            name="cjs"/>
        </dir>
        <dir
          name="semver">
          <dir
            name="bin"/>
        </dir>
        <dir
          name="set-cookie-parser">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="shebang-command"/>
        <dir
          name="shebang-regex"/>
        <dir
          name="source-map-js">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="strip-json-comments"/>
        <dir
          name="supports-color"/>
        <dir
          name="tinyglobby">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="type-check">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="update-browserslist-db"/>
        <dir
          name="uri-js">
          <dir
            name="dist">
            <dir
              name="es5"/>
            <dir
              name="esnext">
              <dir
                name="schemes"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="vite">
          <dir
            name="bin"/>
          <dir
            name="dist">
            <dir
              name="client"/>
            <dir
              name="node">
              <dir
                name="chunks"/>
            </dir>
          </dir>
          <dir
            name="misc"/>
          <dir
            name="types">
            <dir
              name="internal"/>
          </dir>
        </dir>
        <dir
          name="which"/>
        <dir
          name="word-wrap"/>
        <dir
          name="yallist"/>
        <dir
          name="yocto-queue"/>
        <dir
          name="zod">
          <dir
            name="locales"/>
          <dir
            name="mini"/>
          <dir
            name="src">
            <dir
              name="locales"/>
            <dir
              name="mini"/>
            <dir
              name="v3">
              <dir
                name="benchmarks"/>
              <dir
                name="helpers"/>
              <dir
                name="locales"/>
              <dir
                name="tests"/>
            </dir>
            <dir
              name="v4">
              <dir
                name="classic">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="core">
                <dir
                  name="tests">
                  <dir
                    name="locales"/>
                </dir>
              </dir>
              <dir
                name="locales"/>
              <dir
                name="mini">
                <dir
                  name="tests"/>
              </dir>
            </dir>
            <dir
              name="v4-mini"/>
          </dir>
          <dir
            name="v3">
            <dir
              name="helpers"/>
            <dir
              name="locales"/>
          </dir>
          <dir
            name="v4">
            <dir
              name="classic"/>
            <dir
              name="core"/>
            <dir
              name="locales"/>
            <dir
              name="mini"/>
          </dir>
          <dir
            name="v4-mini"/>
        </dir>
        <dir
          name="zod-validation-error">
          <dir
            name="v3"/>
          <dir
            name="v4"/>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="api"/>
        <dir
          name="components">
          <dir
            name="admin"/>
          <dir
            name="layout"/>
        </dir>
        <dir
          name="context"/>
        <dir
          name="hooks"/>
        <dir
          name="pages">
          <dir
            name="Admin"/>
          <dir
            name="Home"/>
          <dir
            name="Login"/>
          <dir
            name="ProductDetails"/>
          <dir
            name="Products"/>
          <dir
            name="Register"/>
        </dir>
        <dir
          name="services"/>
        <dir
          name="utils"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Python"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <mcp_options
    enabled="false"
    allow_reparse="always"
    allow_ui_interaction="always"/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    mUseBuiltinStandard="true"
    mUseInstalledStandard="false"
    version="Python3"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
